html, body{
	height: 100%;
}

.box{
	border: 1px red dotted;
}

.container{
	max-width: 1000px;
}

.profile{
	margin-right: 40px;
}

.profile aside p{
	font-size: 12px;
	text-align: justify;
}

.middle{
	padding-top: 50px;
}

.kanan{
	padding-top: 50px;
}

.kanan ul li{
	list-style: none;
	margin-top: 20px;
}

.kanan ul li a{
	color: #333333;
}