body{
	background-image: url(https://lh3.googleusercontent.com/E_PmkVV3krQvTp1MQ-QRO4akX7TpOEUfkI4aiVntYmnXNGCynG5EGhTaHsE3yqHX0YzU=w1366-h768-rw-no);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Raleway,Open Sans,Droid Sans,arial,sans-serif;
}

.bio{
	width: 500px;
	height: 400px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 100px;
	margin: auto;
	text-align: center;
}

h1, h2{
	font-weight: normal;
}
h2{
	font-size: 17px;
}

.social-links{margin-top: 50px;}
a{
	color: #333;
	text-decoration: none;
}
a:hover{text-decoration: underline; color: #000;}
.fa{margin:0 10px; color: #000;}